
/* Custom 'mirrormark' CodeMirror Theme */
.cm-s-mirrormark {
  font: 16px/1.62 'Helvetica Neue', sans-serif;
}

.cm-s-mirrormark .cm-header-1 { 
  font: 28px 'Helvetica Neue', sans-serif;
  font-weight:  bold;
}

.cm-s-mirrormark .cm-header-2 { 
  font: 22px 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

.cm-s-mirrormark .cm-header-2 { 
  font: 18px 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

.cm-s-mirrormark .cm-quote, 
.cm-s-mirrormark .cm-link, 
.cm-s-mirrormark .cm-tag, 
.cm-s-mirrormark .cm-string {
  color: #888; 
}

/* Toolbar Theme */
/* @TODO - Make flexbox? that could be cool */
.mirrormark-toolbar {
	background: #fff;
	border: 1px #888 solid;
	border-bottom: none;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;	display: block;
	overflow: hidden;
	width: 100%;
}

.mirrormark-toolbar a {
	background-color: #fff;
	border-right: 1px #888 solid;
	color: #888;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 18px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 40px;
	transition: color .2s linear;
}

.mirrormark-toolbar a:hover {
	color: #000;
}